.filter-popup-container {
  display: flex;
  //   flex: 1;
  flex-direction: column;
  padding: 16px;
  .filter-by-text {
    margin: 0;
  }
  .include-18-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .apply-button-container {
    display: flex;
    justify-content: startg;
  }
}
