@import "./../../consts/colors.scss";
.moviepage-container {
  display: flex;
  background-color: $lightGrey;
  flex-direction: column;
  //   height: 100vh;
  //   width: 100vw;
  s .list-and-sidebar-container {
    display: flex;
  }
}
